# Application settings
NEXT_PUBLIC_DOMAIN_NAME=localhost:3000
NEXT_PUBLIC_URL=http://${NEXT_PUBLIC_DOMAIN_NAME}
NODE_ENV=development

# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings
DATABASE_URL="postgres://johndoe:randompassword@localhost:5432/mydb"
SHADOW_DATABASE_URL="postgres://johndoe:randompassword@localhost:5432/shadow"

# You can generate the secret via 'openssl rand -base64 32' on Unix
# @see https://next-auth.js.org/configuration/options#secret
AUTH_SECRET='supersecret'

# @see https://next-auth.js.org/configuration/options#nextauth_url
AUTH_URL=${NEXT_PUBLIC_URL}
# AUTH_REDIRECT_PROXY_URL="http://localhost:3001/api"

# Preconfigured Discord OAuth provider, works out-of-the-box
# @see https://next-auth.js.org/providers/discord
AUTH_DISCORD_ID="id"
AUTH_DISCORD_SECRET="secret"
